In [1]:
import pandas as pd

## Analyzing data:

In [2]:
# Importing data with pandas dataframe

data = pd.read_excel("hotel_revenue_historical_full.xlsx")

In [3]:
data

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,1,85,2018,July,27,1,0,3,2,...,No Deposit,240.0,NaN,0,Transient,82.00,0,1,Canceled,2018-05-06
1,Resort Hotel,1,75,2018,July,27,1,0,3,2,...,No Deposit,15.0,NaN,0,Transient,105.50,0,0,Canceled,2018-04-22
2,Resort Hotel,1,23,2018,July,27,1,0,4,2,...,No Deposit,240.0,NaN,0,Transient,123.00,0,0,Canceled,2018-06-23
3,Resort Hotel,1,60,2018,July,27,1,2,5,2,...,No Deposit,240.0,NaN,0,Transient,107.00,0,2,Canceled,2018-05-11
4,Resort Hotel,1,96,2018,July,27,1,2,8,2,...,No Deposit,NaN,NaN,0,Transient,108.30,0,2,Canceled,2018-05-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21991,City Hotel,1,24,2018,December,53,27,2,1,2,...,No Deposit,28.0,NaN,0,Transient,58.00,0,0,No-Show,2018-12-27
21992,City Hotel,1,1,2018,December,53,27,2,4,2,...,No Deposit,NaN,NaN,0,Transient,147.67,0,0,No-Show,2018-12-27
21993,City Hotel,1,66,2018,December,53,28,0,5,2,...,No Deposit,9.0,NaN,0,Transient,170.90,0,1,No-Show,2018-12-29
21994,City Hotel,1,54,2018,December,53,30,1,4,2,...,No Deposit,9.0,NaN,0,Contract,118.20,0,1,No-Show,2018-12-30
21995,City Hotel,1,54,2018,December,53,30,1,4,2,...,No Deposit,9.0,NaN,0,Contract,118.20,0,1,No-Show,2018-12-30

In [6]:
# So, we want to split our DataFrame according to the year, aiming to save our data by year in a SQL Server DB

# Let's check our data types
data.dtypes

hotel                                     object
is_canceled                                int64
lead_time                                  int64
arrival_date_year                          int64
arrival_date_month                        object
arrival_date_week_number                   int64
arrival_date_day_of_month                  int64
stays_in_weekend_nights                    int64
stays_in_week_nights                       int64
adults                                     int64
children                                 float64
babies                                     int64
meal                                      object
country                                   object
market_segment                            object
distribution_channel                      object
is_repeated_guest                          int64
previous_cancellations                     int64
previous_bookings_not_canceled             int64
reserved_room_type                        object
assigned_room_type                        object
booking_changes                            int64
deposit_type                              object
agent                                    float64
company                                  float64
days_in_waiting_list                       int64
customer_type                             object
adr                                      float64
required_car_parking_spaces                int64
total_of_special_requests                  int64
reservation_status                        object
reservation_status_date           datetime64[ns]
dtype: object

Here, we can see that we have a column with the arrival_date_year, that's what we want, so we need to split the data

## Splitting data

In [9]:
# We can split the data simply by doing this boolean condition below:
y_2018 = data[data["arrival_date_year"] == 2018]
y_2018

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,1,85,2018,July,27,1,0,3,2,...,No Deposit,240.0,NaN,0,Transient,82.00,0,1,Canceled,2018-05-06
1,Resort Hotel,1,75,2018,July,27,1,0,3,2,...,No Deposit,15.0,NaN,0,Transient,105.50,0,0,Canceled,2018-04-22
2,Resort Hotel,1,23,2018,July,27,1,0,4,2,...,No Deposit,240.0,NaN,0,Transient,123.00,0,0,Canceled,2018-06-23
3,Resort Hotel,1,60,2018,July,27,1,2,5,2,...,No Deposit,240.0,NaN,0,Transient,107.00,0,2,Canceled,2018-05-11
4,Resort Hotel,1,96,2018,July,27,1,2,8,2,...,No Deposit,NaN,NaN,0,Transient,108.30,0,2,Canceled,2018-05-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21991,City Hotel,1,24,2018,December,53,27,2,1,2,...,No Deposit,28.0,NaN,0,Transient,58.00,0,0,No-Show,2018-12-27
21992,City Hotel,1,1,2018,December,53,27,2,4,2,...,No Deposit,NaN,NaN,0,Transient,147.67,0,0,No-Show,2018-12-27
21993,City Hotel,1,66,2018,December,53,28,0,5,2,...,No Deposit,9.0,NaN,0,Transient,170.90,0,1,No-Show,2018-12-29
21994,City Hotel,1,54,2018,December,53,30,1,4,2,...,No Deposit,9.0,NaN,0,Contract,118.20,0,1,No-Show,2018-12-30
21995,City Hotel,1,54,2018,December,53,30,1,4,2,...,No Deposit,9.0,NaN,0,Contract,118.20,0,1,No-Show,2018-12-30

WOW, so all the datas are from 2018 year?

Well... No

## Explanation:

    Well, because of we are reading an excel file, you can supose that the workbook we've imported has some worksheets separated by a specific category, so check in the application of your choice
    
    After checking, we can see that we have 5 workbooks: 2018, 2019, 2020, meal_cost, market_segment, so we can create a pandas DataFrame for each one of them

In [10]:
excel_file = pd.ExcelFile("hotel_revenue_historical_full.xlsx")

In [11]:
y_2018 = pd.read_excel(excel_file, '2018')
y_2019 = pd.read_excel(excel_file, '2019')

meal_cost = pd.read_excel(excel_file, 'meal_cost')
market_segment = pd.read_excel(excel_file, 'market_segment')

So now, we can save those files with csv extension and read them on Azure Data Studio

In [13]:
y_2018.to_csv("year_2018.csv")
y_2019.to_csv("year_2019.csv")

meal_cost.to_csv('meal_cost.csv')
market_segment.to_csv('market_segment.csv')

In [14]:
# Let's add the 2020 year too
y_2020 = pd.read_excel(excel_file, '2020')
y_2020.to_csv('year_2020.csv')